body{
    font-family: 'Times New Roman', Times, serif;
}
table,th,td{
    border: 2px dashed red;
    text-align: center;
    border-collapse: collapse;
    font-size: 25px;
    padding: 20px;
}
table{
    margin: 10px black;
    width: 70%;
    box-shadow: 5px 5px 0 0  rgb(0, 255, 170);
    background-color: blanchedalmond;
}
.containercontain,thead{
    background-color: blue;
    color: aqua;
}